


.main {
    
    width: 62px;
    border-radius: 10px;
    display: grid;
    font-size: 12px;
    
}
  
#colorPicker {
   
    width: 60px;
    cursor: pointer;
}
  
#box {
    width: 57px;
    
}

.btnAction{
    cursor: pointer;
}


.active{
    background-color: aqua;
    padding: 8px;
    height: 30px;
    border-radius: 3px;
    /* cursor: pointer; */

}
.bold{
    font-weight: bold;
}
.italic{
    font-style: italic;
}
.underline{
    text-decoration: underline;
}
.start{
    text-align: start;
}
.center{
    text-align: center;
}
.end{
    text-align: end;
}
textarea{
    width: 100%;
    height: 300px;
}

.fontSize {
    width: 50px;
    height: 27px;
}
